:root{
  --body-bg: #f5f5f5;
}
* {
  user-select: none; 
  -webkit-user-select: none;
  -moz-user-select: none;   
  -ms-user-select: none;   
}

body{
  background-color: var(--body-bg);
}

.container{
  overflow: hidden;
  .top-title{
    display: flex; 
    justify-content: space-between;

    .icon-container{
      display: flex;
      align-items: center;
    }
  }

  .jiggling-option{
    display: flex; 
    justify-content: space-between;
    align-items: center;

    .jiggling-option-item{
      display: flex;
      justify-content: space-evenly;

      .label-with-checkbox{
        margin-right: 10px;
      }
      
      .setting-button{
        display: flex;
        align-items:center;
        background-color: #216ba5;
        padding: 5px 15px;
        border-radius: 20px;

        b{
          margin-right: 15px;
          font-size: 14px;
          color: white;
        }
      }
    }
  }

  .riggler-setting{
    .jiggling-duration{
      width: 90%;
    }
  }
}

img{
  color: red;
}

button{
  border: none;
  background-color: #f5f5f5;
}

input[type="checkbox"]{
  margin-right: 10px;
  transform: scale(1.5);
}
